CORS_ALLOWED_ORIGINS=http://localhost:3000
FRONT_URL=http://localhost:3000

# DB
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=dbname

# Mail
BREVO_API_KEY=your_brevo_api_key_here
MAIL_FROM_EMAIL=no-reply@unioloci.com
MAIL_FROM_NAME=Unioloci

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET=tu_secreto_super_secreto_aqui
JWT_EXPIRES_IN=7d
